@import "tailwindcss";


#root {
  margin: 0 auto;
  padding: 0;
}

body{
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hero{
    height: 120vh;
    background-repeat: no-repeat;
    position: relative;
    background:orange;

}

.triangle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-left: 70vw solid transparent;
  border-right: 70vw solid transparent;
  border-bottom: 90vh solid white;
}

@media (max-width: 1200px) { 
  .triangle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    border-left: 180vw solid transparent;
    border-right: 180vw solid transparent;
    border-bottom: 80vh solid white;
  }
  .hero{
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    background:orange;
}
}

@media (max-width: 768px) { 
  .triangle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    border-left: 180vw solid transparent;
    border-right: 180vw solid transparent;
    border-bottom: 80vh solid white;
  }
  .hero{
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    background:orange;
}
}

@media (max-width: 480px) { 
  .triangle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    border-left: 180vw solid transparent;
    border-right: 180vw solid transparent;
    border-bottom: 80vh solid white;
  }

  .hero{
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    background:orange;
}
}